# Testing files
tests/testing/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Dist Files
pkg/*
pkg.zip

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
compilador
analisador_lexico
analisador_semantico

# Test files
*.out

# Lex files
*.yy.c
*.yy.h

# Bison files
*.tab.h
*.tab.c

# Debug status
debug.y.output

# Binary output files
*.mips

# Temp files
*.swp
